<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">EMPLOYEE APP</a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <%for(i=0;i<nav.length;i++){ %>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="<%=nav[i].link%>"><%=nav[i].name%></a>
              </li>
              <%}%>
              
            </ul>
            
          </div>
        </div>
    </nav>

    <h2>Update Employee Details</h2>

    <form action="/employees/editEmployee/<%=data._id %>" method="POST">
        <div class="mb-3">
          <label for="employeeName" class="form-label">Employee Name</label>
          <input type="text" class="form-control " name="employeeName" id="employeeName" value="<%= data.employeeName %>" required>
          
        </div>
        <div class="mb-3">
          <label for="employeeDesignation" class="form-label">Employee Designation</label>
          <input type="text" class="form-control " name="employeeDesignation" id="employeeDesignation" value="<%= data.employeeDesignation %>" required> 
        </div>
        <div class="mb-3">
            <label for="employeeLocation" class="form-label">Employee Location</label>
            <input type="text" class="form-control " name="employeeLocation" id="employeeLocation" value="<%= data.employeeLocation %>" required>
            
          </div>
          <div class="mb-3">
            <label for="Salary" class="form-label">Employee Salary</label>
            <input type="text" class="form-control " name="employeeSalary" id="employeeSalary" value="<%= data.employeeSalary %>" required>
            
          </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>


</body>
</html>